/target/
.env
*.log

graphify-out/

# gateway-web
/apps/gateway-web/node_modules/
/apps/gateway-web/.pnp
/apps/gateway-web/.pnp.*
/apps/gateway-web/.yarn/*
!/apps/gateway-web/.yarn/patches
!/apps/gateway-web/.yarn/plugins
!/apps/gateway-web/.yarn/releases
!/apps/gateway-web/.yarn/versions
/apps/gateway-web/coverage/
/apps/gateway-web/.next/
/apps/gateway-web/out/
/apps/gateway-web/build/
/apps/gateway-web/.DS_Store
/apps/gateway-web/*.pem
/apps/gateway-web/npm-debug.log*
/apps/gateway-web/yarn-debug.log*
/apps/gateway-web/yarn-error.log*
/apps/gateway-web/pnpm-debug.log*
/apps/gateway-web/.env*
/apps/gateway-web/*.tsbuildinfo
/apps/gateway-web/next-env.d.ts
